.App {
  text-align: center;
  padding: 30px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chart-container {
  display: flex;          /* Use flexbox to control layout */
  flex-direction: row;    /* Align charts in a row */
  justify-content: space-between; /* Space them out evenly */
  align-items: flex-start; /* Align the charts at the top */
  gap: 20px;              /* Add space between the charts */
}

.chart {
  flex: 1;                /* Allow charts to grow equally */
  max-width: 45%;         /* Optional: Limit max width of each chart */
}